{# admin/user/_form.html.twig #}
{{ form_start(form) }}
<div class="row">
	<div class="col-md-6">
		{{ form_row(form.email) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.username) }}
	</div>

	{# Le champ password est géré directement dans UserType.php #}

	<div class="col-md-6">
		{{ form_row(form.fname) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.lname) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.country) }}
	</div>
	{# Le champ balance est maintenant géré dans UserType.php #}
	{% if form.balance is defined %}
		<div class="col-md-6">
			{{ form_row(form.balance) }}
		</div>
	{% endif %}

	{% if app.current_route == "admin_user_new" %}
		<div class="col-6">
			{{ form_row(form.plainPassword) }}
		</div>
	{% endif %}
	<div class="col-12">
		{{ form_row(form.roles) }}
	</div>
	<div class="col-12">
		{{ form_row(form.isVerified) }}
	</div>

</div>
<div class="mt-3">
	<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
	<a href="{{ path('admin_user_index') }}" class="btn btn-label-secondary">Annuler</a>
</div>
{{ form_end(form) }}
