{% extends 'emails/base_email.html.twig' %}

    {% block content %}
        <h1>Confirmation de votre demande de retrait</h1>
        
        <p>Bonjour,</p>
        
        <p>Nous accusons réception de votre demande de retrait avec les détails suivants :</p>
        
        <ul>
            <li><strong>Montant :</strong> {{ amount|number_format(2) }} USD</li>
            <li><strong>Frais :</strong> {{ fees|number_format(2) }} USD</li>
            <li><strong>Total débité :</strong> {{ total_amount|number_format(2) }} USD</li>
            <li><strong>Cryptomonnaie :</strong> {{ currency|upper }}</li>
            <li><strong>Adresse de destination :</strong> {{ address }}</li>
            <li><strong>Date :</strong> {{ date|date('d/m/Y H:i') }}</li>
        </ul>
        
        <p>Votre demande est en cours de traitement. Vous recevrez un nouvel email une fois le retrait complété.</p>
        
        <p>Si vous n'avez pas effectué cette demande, veuillez nous contacter immédiatement.</p>
        
        <p>Cordialement,<br>L'équipe Bictrary</p>
    {% endblock %}